html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-inter), "Segoe UI", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --font-inter:Inter,serif;
  --font-imperator: Imperator, serif;

  --color-white: #fff;
  --color-brown: #8d191c;
}

h3{
  font-family: var(--font-imperator);
  font-weight: 400;
}

p {
  font-family: 'Inter', sans-serif;
}
@font-face {
  font-family: "Imperator Bold";
  src: url("/Fonts/Imperator Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Imperator";
  src: url("/Fonts/Imperator.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Imperator Bronze";
  src: url("/Fonts/ImperatorBronze.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Imperator Bronze SmallCaps";
  src: url("/Fonts/ImperatorBronzeSmallCaps.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Imperator Plaque";
  src: url("/Fonts/ImperatorPlaque.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Imperator SmallCaps Bold";
  src: url("/Fonts/ImperatorSmallCaps Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Imperator SmallCaps";
  src: url("/Fonts/ImperatorSmallCaps.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
