.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px;
  margin-left: 3vw;
  margin-right: 4vw;
}

.header img {
  max-width: 100%;
  height: auto;
}

.leftImage{
  width: 290px;
  height: auto;
  margin-left: 2vw;
}
@media (max-width: 1100px) {
  .header img{
    margin-top: auto;
    margin-bottom:auto;
  }
  .leftImage{
    width: 50vw;
    height: auto;
  }
  .rightImage {
    width: 24vw;
    height: auto;
    margin-right: 2vw;
  }
}

